.mapRow {
  user-select: none;
  display: flex;
}
.mapRow > #desktop {
  width: 100%;
  height: 100%;
}
.mapRow > #mobile {
  display: none;
}

.absoluteSecond {
  position: absolute;
  left: 12%;
}
.absoluteSecond > .backlocation {
  width: 250px;
  display: flex;
}

.absoluteSecond > .backlocation:hover > .left {
  background-color: rgb(21, 21, 21);
}

.absoluteSecond > .backlocation:hover > .right {
  background-color: rgb(213, 150, 108);
}

.absoluteSecond > .backlocation > .left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(213, 150, 108);
  width: 75px;
  height: 70px;
  font-size: 20px;
  color: white;
  user-select: none;
  cursor: pointer;
}

.absoluteSecond > .backlocation > .right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(21, 21, 21);
  width: 175px;
  height: 70px;
  font-size: 20px;
  color: white;
  user-select: none;
  cursor: pointer;
}

/**/

.adressRow {
  user-select: none;
  background-color: black;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
}

.adressRow > .row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.adressRow > .row > .title {
  font-family: "Big Shoulders Display", cursive;
  font-size: 64px;
  width: 300px;
  color: white;
}

.adressRow > .row > .adress {
  font-family: "Big Shoulders Display", cursive;
  display: flex;
  flex-direction: column;
  width: 350px;
}

.adressRow > .row > .adress > .subtitle {
  color: rgb(213, 150, 108);
  font-size: 48px;
}

.adressRow > .row > .adress > span {
  color: white;
  font-size: 20px;
}
.adressRow > .row > .adress > p {
  color: white;
  font-size: 20px;
}

/**/

.socialRow {
  user-select: none;
  width: 100%;
  height: 20vw;
  background-color: rgb(213, 150, 108);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialRow > .row {
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.socialRow > .row > img {
  width: 12vw;
}

.socialRow > .row > .text {
  font-size: 1.02vw;
  width: 23vw;
}

.socialRow > .row > .icons > img {
  margin-right: 1vw;
  width: 1.2vw;
  cursor: pointer;
  filter: invert(100%);
}

.socialRow > .row > .icons > img:hover {
  filter: none;
}

/**/

@media screen and (max-width: 1280px) {
  .socialRow {
    height: 25vw;
  }
  .socialRow > .row {
    width: 90vw;
  }
  .socialRow > .row > img {
    width: 18vw;
  }
  .socialRow > .row > .text {
    font-size: 1.5vw;
    width: 25vw;
  }
  .socialRow > .row > .icons > img {
    width: 2.5vw;
    margin-right: 1vw;
  }
}

/**/

@media screen and (max-width: 512px) {
  .mapRow > #desktop {
    display: none;
  }
  .mapRow > #mobile {
    display: block;
    width: 100%;
  }

  .absoluteSecond {
    left: 0%;
  }

  .adressRow {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .adressRow > .row {
    width: 87%;
    flex-direction: column;
  }
  .adressRow > .row > .title {
    margin-bottom: 50px;
    width: 350px;
  }

  .socialRow {
    height: 100vw;
  }
  .socialRow > .row {
    height: 100vw;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70vw;
  }
  .socialRow > .row > img {
    width: 50vw;
  }
  .socialRow > .row > .text {
    font-size: 5vw;
    width: 60vw;
  }
  .socialRow > .row > .icons > img {
    width: 5vw;
    margin-right: 1vw;
  }
}
