.firstRow {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
}

.firstRow > #desktop {
  height: 52vw;
}

.firstRow > #tablet,
.firstRow > #mobile {
  display: none;
}

.firstRow > .blackBox {
  height: 52vw;
  width: 30vw;
  background-color: black;
}

.absoluteFirst {
  top: 12vw;
  left: 15vw;
  width: 66vw;
  height: 20vw;
  position: absolute;
  justify-content: space-between;
  display: flex;
}

.absoluteFirst > img {
  width: 25vw;
  height: 11vw;
  mix-blend-mode: difference;
}

.absoluteFirst > .col {
  width: 19vw;
  font-size: 1.3vw;
  display: flex;
  flex-direction: column;
}

.absoluteFirst > .col > .text {
  color: white;
  margin-bottom: auto;
  mix-blend-mode: difference;
}

.absoluteFirst > .col > .ourlocation {
  display: flex;
}

.absoluteFirst > .col > .ourlocation > .left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(21, 21, 21);
  width: 10vw;
  height: 4.5vw;
  font-size: 1vw;
  color: white;
  cursor: pointer;
}

.absoluteFirst > .col > .ourlocation > .right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(213, 150, 108);
  width: 3.5vw;
  height: 4.5vw;
  font-size: 1vw;
  color: white;
  cursor: pointer;
}

.absoluteFirst > .col > .ourlocation:hover > .left {
  background-color: rgb(213, 150, 108);
}

.absoluteFirst > .col > .ourlocation:hover > .right {
  background-color: rgb(21, 21, 21);
}

.mobileFirstRow {
  align-self: center;
  flex-direction: column;
  justify-content: space-evenly;
  display: none;
  margin-right: auto;
  margin-left: auto;
  width: 67%;
  height: 550px;
  font-size: 25px;
}

.mobileFirstRow > .ourlocation {
  width: 250px;
  display: flex;
}

.mobileFirstRow > .ourlocation:hover > .left {
  background-color: rgb(213, 150, 108);
}

.mobileFirstRow > .ourlocation:hover > .right {
  background-color: rgb(21, 21, 21);
}

.mobileFirstRow > .ourlocation > .left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(21, 21, 21);
  width: 175px;
  height: 70px;
  font-size: 20px;
  color: white;
  user-select: none;
  cursor: pointer;
}

.mobileFirstRow > .ourlocation > .right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(213, 150, 108);
  width: 75px;
  height: 70px;
  font-size: 20px;
  color: white;
  user-select: none;
  cursor: pointer;
}

/**/

.secondRow {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 18%;
  margin-right: 18%;
  justify-content: space-between;
}
.secondRow > .col {
  display: flex;
  flex-direction: column;
  width: 15vw;
}
.secondRow > .col > .title {
  color: black;
  font-family: "Big Shoulders Display", cursive;
  font-size: 3vw;
}

.secondRow > .col > .text {
  font-size: 1.3vw;
}

.secondRow > #desktop {
  height: 25vw;
}
.secondRow > #tablet,
.secondRow > #mobile {
  display: none;
}

/**/

.thirdRow {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 18%;
  margin-right: 18%;
  justify-content: space-between;
}

.thirdRow > #desktop {
  height: 40vw;
}

.thirdRow > .col {
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thirdRow > .col > #desktop {
  width: 25vw;
}

.thirdRow > .col > .blackBox {
  width: 25vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
}

.thirdRow > .col > .blackBox > .title {
  margin-left: 4vw;
  margin-right: 4vw;
  font-family: "Big Shoulders Display", cursive;
  font-size: 3vw;
}

.thirdRow > .col > .blackBox > .text {
  margin-left: 4vw;
  margin-right: 4vw;
  font-size: 1vw;
}

.thirdRow > #tablet,
.thirdRow > #mobile,
.thirdRow > .col > #tablet,
.thirdRow > .col > #mobile {
  display: none;
}

/**/

.fourthRow {
  user-select: none;
  width: 100%;
  height: 20vw;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fourthRow > .row {
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fourthRow > .row > img {
  width: 12vw;
}

.fourthRow > .row > .text {
  font-size: 1.02vw;
  width: 23vw;
}

.fourthRow > .row > .icons > img {
  margin-right: 1vw;
  width: 1.2vw;
  cursor: pointer;
}
.fourthRow > .row > .icons > img:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(213, 150, 108));
}

/**/

@media screen and (max-width: 1280px) {
  .firstRow > #desktop,
  .secondRow > #desktop,
  .thirdRow > #desktop,
  .thirdRow > .col > #desktop,
  .firstRow > .blackBox {
    display: none;
  }
  .firstRow > #tablet,
  .secondRow > #tablet,
  .thirdRow > #tablet,
  .thirdRow > .col > #tablet {
    display: block;
  }

  .firstRow > #tablet {
    height: 90vw;
  }
  .absoluteFirst {
    top: 12vw;
    left: 50vw;
    width: 45vw;
    height: 65vw;
    flex-direction: column;
    justify-content: space-around;
  }

  .absoluteFirst > img {
    height: 20vw;
    width: 45vw;
  }

  .absoluteFirst > .col {
    height: 30vw;
    width: 45vw;
    justify-content: space-around;
    font-size: 2.5vw;
  }

  .absoluteFirst > .col > .ourlocation > .left {
    width: 20vw;
    height: 9vw;
    font-size: 2vw;
  }

  .absoluteFirst > .col > .ourlocation > .right {
    width: 7vw;
    height: 9vw;
    font-size: 2vw;
  }

  .secondRow {
    margin-left: 8vw;
    margin-right: 8vw;
    justify-content: space-between;
  }
  .secondRow > #tablet {
    height: 35vw;
  }
  .secondRow > .col {
    width: 25vw;
  }
  .secondRow > .col > .title {
    font-size: 5vw;
  }
  .secondRow > .col > .text {
    font-size: 2.1vw;
  }

  .thirdRow {
    margin-left: 8vw;
    margin-right: 8vw;
    justify-content: space-between;
  }
  .thirdRow > .col > img {
    margin-bottom: 3vw;
  }
  .thirdRow > .col,
  .thirdRow > #tablet {
    height: 70vw;
  }
  .thirdRow > .col > .blackBox,
  .thirdRow > .col > #tablet {
    width: 40vw;
    height: 40vw;
  }
  .thirdRow > .col > .blackBox > .title {
    font-size: 5vw;
  }
  .thirdRow > .col > .blackBox > .text {
    font-size: 2vw;
  }

  .fourthRow {
    height: 25vw;
  }
  .fourthRow > .row {
    width: 90vw;
  }
  .fourthRow > .row > img {
    width: 18vw;
  }
  .fourthRow > .row > .text {
    font-size: 1.5vw;
    width: 25vw;
  }
  .fourthRow > .row > .icons > img {
    width: 2.5vw;
    margin-right: 1vw;
  }
}

/**/

@media screen and (max-width: 512px) {
  .firstRow > #tablet,
  .secondRow > #tablet,
  .thirdRow > #tablet,
  .thirdRow > .col > #tablet {
    display: none;
  }
  .firstRow > #mobile,
  .secondRow > #mobile,
  .thirdRow > #mobile,
  .thirdRow > .col > #mobile {
    display: block;
  }
  .firstRow > #mobile {
    width: 100%;
  }

  .secondRow > #mobile {
    height: 80vw;
    margin-bottom: 3vw;
  }
  .secondRow > .col {
    width: 80vw;
  }
  .secondRow > .col > .title {
    font-size: 12vw;
  }
  .secondRow > .col > .text {
    font-size: 5vw;
  }

  .thirdRow > #mobile {
    height: 120vw;
    margin-bottom: 3vw;
  }
  .thirdRow > .col {
    height: 150vw;
  }
  .thirdRow > .col > #mobile {
    width: 85vw;
    height: 85vw;
  }
  .thirdRow > .col > .blackBox {
    width: 85vw;
    height: 100vw;
  }
  .thirdRow > .col > .blackBox > .title {
    font-size: 11vw;
  }
  .thirdRow > .col > .blackBox > .text {
    font-size: 5vw;
  }

  .mobileFirstRow {
    display: flex;
  }
  .absoluteFirst {
    display: none;
  }

  .fourthRow {
    height: 100vw;
  }
  .fourthRow > .row {
    height: 100vw;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70vw;
  }
  .fourthRow > .row > img {
    width: 50vw;
  }
  .fourthRow > .row > .text {
    font-size: 5vw;
    width: 60vw;
  }
  .fourthRow > .row > .icons > img {
    width: 5vw;
    margin-right: 1vw;
  }
}
